<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%- include('components/head')%>
    <title>Document</title>
</head>
<body>
<div class="container">
    <% note.forEach(el => { %>
    <div class="card text-white bg-dark mt-3" style="max-width: 18rem;">
        <div class="card-header text-right"><button type="button" class="btn btn-danger">X</button></div>
        <div class="card-body">
            <h5 class="card-title"><%= el.title%></h5>
            <p class="card-text"><%= el.text%></p>
            <button type="button" class="btn btn-secondary">Edit</button>
            <a href="/" class="btn btn-secondary">Go back</a>
        </div>
    </div>
    <% }) %>
</body>
</html>