<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Create note</title>
</head>
<body>
	<div>
		<input type="text" name="title" placeholder="Title" id="createTitle">
		<textarea rows="5" cols="15" name="text" id="createText"></textarea>
		<button id="createButton" onclick="createNote()">Create</button>
	</div>
	<script src="js/createNote.js"></script>
</body>
</html>